@import url('font/style.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html {
    font-family: Fira Sans Book, sans-serif;
    font-size: 13pt;
}

/*STUPID BUG IN PANDOC
pre, code {
  font-family: Fira Mono;
}*/

body, html {
    background: transparent !important;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3.1cm;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
    line-height: 125%;
    margin-top: 2em;
    font-weight: normal;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}

a, a:visited {
    color: #06b;
}

hr {
    border: none;
    background: #ddd;
    height: 0.1cm;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 0.1cm;
}

td {
    border-bottom: 0.05cm solid #ddd;
}

th {
    border-bottom: 0.1cm solid #ddd;
}

tr:last-child td {
    border-bottom: none;
}

pre {
    background: #ddd;
    padding: 0.1cm;
    position: relative;
}

pre code {
    font-size: 12pt;
}

code {
    background: #ddd;
    padding: 0.025cm 0.05cm;
    margin: -0.025cm 0;
    font-size: 0.9em;
}

blockquote {
    border-left: 0.1cm solid #ddd;
    padding: 0.15cm;
    margin: 0;
    margin-left: 0.15cm;
    font-style: italic;
    color: #444;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

li>p {
    margin: 0;
}

li {
    margin: 0.2cm 0;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

/* Titelseite */

.title>p {
    margin-top: 15cm;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.5em;
    line-height: normal;
}

.subtitle>p {
    margin-top: 0em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    line-height: normal;
}

.author>p {
    margin-top: -0.1em;
    text-align: center;
    font-weight: 100;
    color: #444;
    line-height: normal;
}

.date>p {
    margin-top: 2em;
    text-align: center;
    line-height: normal;
}

/* Neue Seite */

@media print {
    .new-page {
        page-break-after: always;
    }
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
    h1:not(.nopb) {
        page-break-before: always;
    }
    p {
        orphans: 4;
        widows: 4;
    }
}

/* Gliederung formatieren */

.gliederung ol {
    font-size: 16pt;
    counter-reset: item;
}

.gliederung li {
    margin-left: -1.9em !important;
    font-weight: 700;
    display: block;
}

.gliederung li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    font-weight: 200;
}

.gliederung ol>li:not(:first-child) {
    margin-top: 0.8em;
}

.gliederung ol>li>ol {
    font-size: 15pt;
}

.gliederung ol>li>ol>li:not(:first-child) {
    margin-left: 0.2cm !important;
    margin-top: 0.6em !important;
}

.gliederung ol>li>ol>li:first-child {
    margin-left: 0.2cm !important;
    margin-top: 0.8em !important;
}

.gliederung ol>li>ol>li>ol {
    font-size: 14pt;
}

.gliederung ol>li>ol>li>ol>li:not(:first-child) {
    margin-left: 0.2cm !important;
    margin-top: 0.4em !important;
}

.gliederung ol>li>ol>li>ol>li:first-child {
    margin-left: 0.2cm !important;
    margin-top: 0.6em !important;
}

/* Seitennummer */

body {
    counter-reset: page;
}

@page {
    @bottom-center {
        content: counter(page) " / " counter(pages);
    }
    @top-center {
        content: counter(h1, decimal)
    }
}

/* Überschriften Nummerierung */

body {
    counter-reset: h1;
}

h1 {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

h3 {
    counter-reset: h4;
}

h4 {
    counter-reset: h5;
}

h5 {
    counter-reset: h6;
}

h1:not(.unnumbered):before {
    content: counter(h1, decimal) " ";
    counter-increment: h1;
    font-weight: 100 !important;
}

h2:not(.unnumbered):before {
    content: counter(h1, decimal) "." counter(h2, decimal) " ";
    counter-increment: h2;
    font-weight: 100 !important;
}

h3:not(.unnumbered):before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) " ";
    counter-increment: h3;
    font-weight: 100 !important;
}

h4:not(.unnumbered):before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) " ";
    counter-increment: h4;
    font-weight: 100 !important;
}

h5:not(.unnumbered):before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) " ";
    counter-increment: h5;
    font-weight: 100 !important;
}

h6:not(.unnumbered):before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) " ";
    counter-increment: h6;
    font-weight: 100 !important;
}


.f { width: 100% }
.l { max-width: 35%; float: left; margin: 0.15cm 0.25cm 0.25cm 0 }
.r { max-width: 35%; float: right; margin: 0.15cm 0 0.25cm 0.25cm }
.c { clear: both; margin: 0.25cm 0 }
.small { max-width: 15% }
img { max-width: 100%; }
